
  /* Header and Navigation */
  header {
    background: linear-gradient(135deg, #384367, #45537f);
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: 600;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    color: #ffdd57;
  }
  


.chat-user-list {
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
  }
  
  .chat-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .chat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .chat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #e0e0e0;
    }
  }
  
  .chat-item-details {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .user-uid {
    font-size: 12px;
    color: #777;
  }
  
  .chat-item-status {
    font-size: 12px;
    color: #28a745;
    font-weight: bold;
  }
  